body{
  background-color:  #EFEFF2;
  color: #19191C;
  font: 400 18px/28px Inter, sans-serif; 
}

.container{
  padding: 36px 240px 0;
  background: url(../img/men-offer.png) 85% 100% no-repeat, url(../img/Rectangle-offer.png) 83% 100% no-repeat, url(../img/Ellipse-offer3.png) 75% 135% no-repeat, url(../img/Ellipse-offer1.png) 100% 35% no-repeat, url(../img/Ellipse-offer2.png) 0% 20% no-repeat;
}

header{
  display: flex;
  justify-content: space-between;
}

.header_box{
  display: flex;
  align-items: center;
  gap: 70px;
}

.nav_list{
  display: flex;
  gap: 50px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.btn-box{
  display: flex;
  gap: 50px;
  align-items: center;
}

.logo{
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  gap: 15px;
  color: #19191C;
  align-items: center;
}

.link{
  color: #19191C;
  font-size: 18px;
  font-weight: 600;
}

.icon-courses{
  margin-left: 6px;
}

.header_link,
.header_btn{
  color: #19191C;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.header_btn{
  background-color: #19191C;
  color: #EFEFF2;
  padding: 12px 37px;
  font-weight: 700;
}

.offer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 186px;
  position: relative;
}

.offer_holder{
  margin-bottom: 230px;
}

.offer_title{
  font-size: 58px;
  line-height: 78px;
  font-weight: 700;
  margin: 0px 0px 18px;
  width: 54%;
}

.offer_link{
  font-weight: 700;
  color: #504DEE;
}

.button{
  background: #504DEE;
  color: #FBFBFC;
  padding: 16px 37px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 62px 0 110px 0;
}

.offer_sale{
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
}

time{
  line-height: 22px;
  font-weight: 700;
  font-size: 18px;
}

.offer_list{
  position: relative;
}

.offer_list > li{
  position: absolute;
  border: 2px solid #19191C;
  padding: 16px 36px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.offer_marketer{
  top: -20px;
  right: 5px;
}

.offer_illustration{
  top: -90px;
  right: 300px;
}

.offer_animator{
  top: 0px;
  right: 555px;
}

.offer_programmer{
  top: 150px;
  right: 620px;
}

.offer_designer{
  top: 345px;
  right: 745px;
}

.offer_photographer{
  top: 525px;
  right: 660px;
}

.learn{
  background-color: #19191C;
  display: flex;
  padding: 168px 244px 159px 240px;
}

.learn_text{
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.learn_title,  
.learn_counter-number{
 color: #FBFBFC;
 font-weight: 700;
 font-size: 58px;
 line-height: 70px;
}

.learn_description{
  width: 77%;
}

.learn_counters{
  display: flex;
  gap: 86px;
}

.learn_counter-description,
.learn_description{
  color: #EFEFF2;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.learn_counter-description{
  margin: 10px 0 22px 0;
}

.underline{
  width: 178px; 
  height: 4px; 
  background-color: #FBFBFC; 
}

.discover{
  display: flex;
  flex-direction: column;
  padding: 168px 240px;
  background: #FBFBFC;
}

.discover_title{
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  width: 50%;
  margin-bottom: 45px;
}

.discover_list{
  display: flex;
  gap: 48px;
}

.disc_list{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.discover_button_popular{
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  border-bottom: 4px solid #19191C;
  padding-bottom: 9px;
}

.discover_button{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.see_more{
  color: #19191C;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.see_more_arrow{
  margin-left: 10px;
}

.discover_card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
}

.discover_card-length{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6D6D77;
}

.discover_cards{
  margin-top: 56px;
  display: flex;
  gap: 20px;
}

.find-programm{
  background-color: #DEEFE4;
  display: flex;
  align-items: baseline;
  padding: 168px 240px;
}

.find-programm_title{
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  margin-bottom: 28px;
}

.find-programm_description{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.find-programm_button{
  background-color: #19191C;
  color: #FBFBFC;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  padding: 16px 36px;
}

.input{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input1,
.input2{
  border: 0;
  background-color: transparent;
  border-style: solid;
  border-bottom-width: 2px;
  border-color: #19191C;
  width: 710px;
  padding-bottom: 6px;
}

.input1{
  margin-bottom: 54px;
}

.input2{
  margin-bottom: 74px;
}

.input1::placeholder,
.input2::placeholder{
  color: #19191C;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

footer {
  background-color: #19191C; 
  color: #EFEFF2;
  padding: 68px 240px 0;  
}

.footer-content {
  display: flex;
  flex-direction: column;
}
  
.footer-main {
  display: flex;
  justify-content: space-between;
}
  
.logo_footer {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 800;
  color: #EFEFF2;
  margin-bottom: 48px;
}
  
.logo_footer img {
  margin-right: 10px;
}
  
.support {
  display: block;
  color: #EFEFF2;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 28px;
}
  
.social_media a {
  display: inline-block;
  margin-right: 10px;
  margin-top: 25px;
}
  
.social_media img {
  width: 24px;

}
    
.sitemap_title {
  font-size: 18px;
  font-weight: 600;
  margin: 0px 0px 28px 0px;
}
    
.sitemap_list li {
  margin-bottom: 12px;
}
  
.sitemap_list a {
  color: #EFEFF2;
  font-size: 18px;
  font-weight: 400;
}

.info{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
  
.footer-copyright {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  margin-left: 65px;
}
  
.pp {
  color: #6D6D77;
  font-size: 18px;
  margin: 0px 28px 0px 0px;
  font-weight: 400;
  line-height: 28px;
}

.info_box3 {
  font-size: 18px;
  color: #6D6D77;
  font-weight: 400;
  line-height: 28px;
}