body{
  background-color:  #EFEFF2;
  margin: 0;
  color: #19191C;
  font: 400 18px/28px Inter, sans-serif; 
}

header{
  display: flex;
  justify-content: space-between;
  padding: 40px 230px;
}

.header_box{
  display: flex;
  align-items: center;
  gap: 70px;
  /* padding: 36px 0 0 230px; */
}

.nav_list{
  display: flex;
  list-style: none;
  gap: 50px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
}

.btn-box{
  display: flex;
  gap: 50px;
  align-items: center;
  /* padding: 47px 240px 0 0; */
}

.logo{
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  display: flex;
  gap: 15px;
  color: #19191C;
  text-decoration: none;
  align-items: center;
}

.link{
  color: #19191C;
  text-decoration: none;
}

.header_link,
.header_btn{
  color: #19191C;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  text-decoration: none;
}

.header_btn{
  background-color: #19191C;
  color: #EFEFF2;
  padding: 12px 37px;
  font-weight: 700;
}

.offer{
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px 0px 230px;
  background: url(../img/men-offer.png) 85% 130% no-repeat, url(../img/Rectangle-offer.png) 84% 106% no-repeat, url(../img/Ellipse-offer3.png) 75% 135% no-repeat, url(../img/Ellipse-offer1.png) 100% 35% no-repeat;
  position: relative;
}

.offer_holder{
  width: 650px;
  padding: 150px 0px 0px 230px;
  background: url(../img/Ellipse-offer2.png) 25% 20% no-repeat;
}

.offer_title{
  font-size: 58px;
  line-height: 78px;
  font-weight: 700;
  margin: 0px 0px 20px;
}

.offer_description{
  margin: 0px 0px 60px;
}

.offer_link{
  font-weight: 700;
  text-decoration: none;
  color: #504DEE;
}

.button{
  background: #504DEE;
  color: #FBFBFC;
  border: none;
  padding: 16px 37px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 700;
  margin: 0px 0px 110px;
}

.offer_sale{
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  margin: 0;
}

.offer_time{
  line-height: 22px;
  font-weight: 700;
  margin: 0;
}

.offer_list{
  list-style: none;
  padding: 0;
  margin: 0;
  flex-grow: 1;
  position: relative;
}

.offer_list > li{
  position: absolute;
  border: 2px solid #19191C;
  padding: 16px 36px;
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
}

.offer_marketer{
  top: 190px;
  right: 235px;
}

.offer_illustration{
  top: 100px;
  right: 430px;
}

.offer_animator{
  top: 160px;
  right: 695px;
}

.offer_programmer{
  top: 300px;
  right: 820px;
}

.offer_designer{
  top: 485px;
  right: 945px;
}

.offer_photographer{
  top: 685px;
  right: 860px;
}

.learn{
  background-color: #19191C;
  display: flex;
  padding: 168px 0px;
}

.learn_text{
  width: 580px;
  margin-right: 190px;
  padding-left: 240px;
}

.learn_title,  
.learn_counter-number{
 color: #FBFBFC;
 font-weight: 700;
 font-size: 58px;
 line-height: 70px;
}

.learn_counters{
  display: flex;
}

.learn_counter-number{
  margin-bottom: 15px;
}

.learn_counter-item1{
  margin: 0 86px 0 86px;
}

.learn_counter-description,
.learn_description{
  color: #EFEFF2;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.underline{
  width: 178px; 
  height: 4px; 
  background-color: #FBFBFC; 
}

.discover{
  display: flex;
  flex-direction: column;
  padding: 168px 0px;
}

.discover_title{
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
  width: 600px;
  padding-left: 240px;
}

.discover_list{
  list-style-type: none;
}

.disc_list{
  display: flex;
  flex-direction: row;
  padding-left: 240px;
}

.discover_button_popular{
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  border: none;
  margin-left: -39px;
}

.discover_button{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  border: none;
}

.underline_{
  width: 67px; 
  height: 4px; 
  background-color: #19191C; 
  margin-left: -34px;
}

.see_more{
  color: #19191C;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-decoration: none;
  margin-left: 415px;
  display: flex;
  align-items: center;
}

.see_more_arrow{
  margin-left: 10px;
}

.discover_card-title{
  font-weight: 700;
  font-size: 24px;
  line-height: 26px;
}

.discover_card-length{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #6D6D77;
}

.discover_cards{
  margin-top: 65px;
  display: flex;
  flex-direction: row;
  padding-left: 240px;
}

.discover_card-item{
  margin-left: 20px;
}

.find-programm{
  background-color: #DEEFE4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 168px 0px;
}

.find-programm_text{
  width: 800px;
  margin-left: 240px;
}

.find-programm_title{
  font-weight: 700;
  font-size: 58px;
  line-height: 70px;
}

.find-programm_description{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

.find-programm_button{
  background-color: #19191C;
  width: 144px;
  height: 54px;
  border: none;
}

.find-programm_button_text{
  color: #FBFBFC;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}

.find-programm_form{
  margin-right: 250px;
}

.input{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 95px;
}

.input1,
.input2{
  border: 0;
  background-color: transparent;
  border-style: solid;
  border-bottom-width: 2px;
  border-color: #19191C;
  width: 710px;
  padding-bottom: 6px;
}

.input1{
  margin-bottom: 54px;
}

.input2{
  margin-bottom: 74px;
}

.input1::placeholder,
.input2::placeholder{
  color: #19191C;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}

footer {
    background-color: #19191C; 
    color: #EFEFF2;  
  }

.footer-content {
    margin: 0 auto;
    width: 1440px;
    display: flex;
    flex-direction: column;
  }
  
.footer-main {
    display: flex;
    justify-content: space-between;
  }
  
.logo_footer {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    color: #EFEFF2;
    text-decoration: none;
    margin-bottom: 48px;
  }
  
.logo_footer img {
    margin-right: 10px;
  }
  
.support {
    display: block;
    color: #EFEFF2;
    text-decoration: none;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 28px;
  }
  
.social_media a {
    display: inline-block;
    margin-right: 10px;
    margin-top: 25px;
  }
  
.social_media img {
    width: 24px;
    height: 24px;
  }
  
.sitemap {
    padding-top: 68px;
  }

  /* .logo_footer {
    margin-bottom: 25px;

  } */
  
.sitemap_title {
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0px 28px 0px;
  }
  
.sitemap_list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
.sitemap_list li {
    margin-bottom: 12px;
  }
  
.sitemap_list a {
    color: #EFEFF2;
    text-decoration: none;
    font-size: 18px;
    font-weight: 400;
  }

.info{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
  
.footer-copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 90px;
    justify-content: center;
    margin-left: 65px;
  }
  
.pp {
    color: #6D6D77;
    font-size: 18px;
    text-decoration: none;
    margin: 0px 28px 0px 0px;
    font-weight: 400;
    line-height: 28px;
  }

.info_box3 {
    font-size: 18px;
    color: #6D6D77;
    font-weight: 400;
    line-height: 28px;
  }
  @media (max-width: 1715px){
    .offer_marketer{
      top: 190px;
      right: 95px;
    }
    
    .offer_illustration{
      top: 100px;
      right: 290px;
    }
    
    .offer_animator{
      top: 160px;
      right: 555px;
    }
    
    .offer_programmer{
      top: 300px;
      right: 680px;
    }
    
    .offer_designer{
      top: 485px;
      right: 805px;
    }
    
    .offer_photographer{
      top: 685px;
      right: 720px;
    }
  
    .offer_holder{
      padding-left: 120px;
    }
  
    header{
      padding: 40px 120px;
  
    }
  }
  
  @media (max-width: 1410px){
    .offer_marketer{
      top: 660px;
      right: 85px;
    }
    
    .offer_illustration{
      top: 550px;
      right: 290px;
    }
    
    .offer_animator{
      top: 610px;
      right: 535px;
    }
    
    .offer_programmer{
      top: 770px;
      right: 700px;
    }
    
    .offer_designer{
      top: 955px;
      right: 795px;
    }
    
    .offer_photographer{
      top: 1120px;
      right: 725px;
    }
  
    .offer_holder{
      padding:80px 0 400px 120px;
    }
  
    header{
      padding: 40px 120px;
  
    }
  }

  @media (max-width: 1130px) {
    header{
      padding-right: 30px;
    }
  }

  






