body{
    background-color:  #EFEFF2;
    color: #19191C;
    font: 400 18px/28px Inter, sans-serif; 
}

.container{
    padding: 36px 240px 0;
    background: url(../img/women-profession.png) 100% 100% no-repeat, url(../img/Rectangle-offer.png) 83% 100% no-repeat, url(../img/Ellipse-offer3.png) 75% 135% no-repeat, url(../img/Ellipse-offer1.png) 120% 35% no-repeat, url(../img/Ellipse-offer2.png) 0% 20% no-repeat;
}

header{
    display: flex;
    justify-content: space-between;
}
  
.header_box{
    display: flex;
    align-items: center;
    gap: 70px;
}
  
.nav_list{
    display: flex;
    gap: 50px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
  
.btn-box{
    display: flex;
    gap: 50px;
    align-items: center;
}
  
.logo{
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    gap: 15px;
    color: #19191C;
    align-items: center;
}
  
.link{
    color: #19191C;
    font-size: 18px;
    font-weight: 600;
}
  
.icon-courses{
    margin-left: 6px;
}
  
.header_link,
.header_btn{
    color: #19191C;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}
  
.header_btn{
    background-color: #19191C;
    color: #EFEFF2;
    padding: 12px 37px;
    font-weight: 700;
}

.offer{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    padding-top: 167px;
}

.offer_holder{
    margin-bottom: 195px;
}

.offer_title{
    font-size: 18px;
    line-height: 22px;
    font-weight: 700;
    border-bottom: 4px solid #504DEE;
    padding-bottom: 8px;
}

.offer_description{
    margin-top: 32px;
    margin-bottom: 12px;
}

.offer_title_{
    font-size: 58px;
    font-weight: 700;
}

.offer_description_{
    margin-top: 48px;
    width: 35%;
}

.offer_button{
    background-color: #504DEE;
    color: #FBFBFC;
    font-size: 18px;
    font-weight: 700;
    padding: 16px 37px;
    margin-top: 50px;
    margin-bottom: 110px;
}

.sale{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.offer_sale{
    font-size: 58px;
    font-weight: 700;
}

time{
    font-size: 18px;
    font-weight: 700;
}

.offer_list > li{
    position: absolute;
    border: 2px solid #19191C;
    padding: 16px 36px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
}

.offer_InVision{
    top: 200px;
    right: 5px;
}
  
.offer_ProtoPie{
    top: 100px;
    right: 200px;
}

.offer_Miro{
    top: 210px;
    right: 455px;
}

.offer_Photoshop{
    top: 530px;
    right: 625px;
}

.offer_Figma{
    top: 380px;
    right: 525px;
}

.offer_Illustrator{
    top: 690px;
    right: 575px;
}

.profession{
    background-color: #FBFBFC;
    padding: 168px 240px 0;
}

.profession-content{
    display: flex;
    justify-content: space-between;
}

.profession-title{
    font-size: 58px;
    font-weight: 700;
    color: #19191C;
}

.profession-title-second{
    font-size: 58px;
    font-weight: 700;
    color: #19191C; 
    margin-top: 35px;
}

.profession-description{
    color: #19191C;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 18px;
    padding-bottom: 21px;
}

.profession-description-costs{
    color: #6D6D77;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    margin-top: 18px;
}

.profession-description-content{
    color: #6D6D77;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    width: 72%;
    margin-top: 48px;   
}

.profession-costs{
    display: flex;
    gap: 103px;
}

.profession-title-costs{
    font-size: 58px;
    font-weight: 700;
    color: #19191C;
}

.line-costs{
    width: 254px;
    height: 4px;
    background-color: #19191C;
}

.profession-container{
    display: flex;
    margin-top: 168px;
    gap: 20px;
}

.profession-card{
    padding: 68px 48px;
}

.profession-card.portfolio{
    background-color: #DEEFE4;
}

.profession-card.internship{
    background-color: #F3F3D7;
}

.profession-card.certificate{
    background-color: #EFDEEE;
}

.profession-card-title{
    font-size: 34px;
    font-weight: 700;
    color: #19191C;
    padding-bottom: 28px;
    border-bottom: 4px solid #19191C;
}

.profession-card-description{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    color: #19191C;
    margin-top: 12px;
    width: 99%;
}

.discover-price{
    background-color: #FBFBFC;
    padding: 171px 240px 168px;
}

.discover-price-title{
    font-size: 58px;
    font-weight: 700;
    color: #19191C;
}

.discover-price-title.second{
    margin-top: 35px;
}

.discover-container{
    display: flex;
    gap: 20px;
    margin-top: 100px;
}

.discover-card{
    background-color: #DEEFE4;
    padding: 48px 0 51px 64px;
}

.discover-card.first{
    padding: 48px 59px 51px 64px;
}

.discover-card.second{
    background-color: #504DEE;
    padding: 48px 51px 51px 64px;
}

.discover-card.third{
    padding: 48px 38px 51px 64px;
}

.discover-card-list > li{
    width: 99%;
}

.discover-card-title{
    font-size: 34px;
    font-weight: 700;
    color: #19191C;
}

.discover-card-title.second{
    color: #FBFBFC;
}

.discover-card-list{
    display: flex;
    flex-direction: column;
    gap: 22px;
    margin-top: 46px;
}

.discover-card-list > li{
    color: #19191C;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    list-style-type: square;
}

.discover-card-list.second > li{
    color: #FBFBFC;
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    list-style-type: square;
}

.discover-card-button{
    background-color: #19191C;
    color: #FBFBFC;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    padding: 16px 36px;
}

.discover-card-button.second{
    background-color: #FBFBFC;
    color: #504DEE;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    padding: 16px 36px;
}

.last-price{
    color: #6D6D77;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
}

.last-price.first{
    margin-top: 164px;
}

.last-price.second{
    color: #EFEFF2;
    margin-top: 85px;
}

.last-price.third{
    margin-top: 119px;
}

.curent-price{
    color: #19191C;
    font-size: 58px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 30px;
}

.curent-price.second{
    color: #FBFBFC;
}

footer {
  background-color: #19191C; 
  color: #EFEFF2;
  padding: 68px 240px 0;  
}

.footer-content {
  display: flex;
  flex-direction: column;
}
  
.footer-main {
  display: flex;
  justify-content: space-between;
}
  
.logo_footer {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 800;
  color: #EFEFF2;
  margin-bottom: 48px;
}
  
.logo_footer img {
  margin-right: 10px;
}
  
.support {
  display: block;
  color: #EFEFF2;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 28px;
}
  
.social_media a {
  display: inline-block;
  margin-right: 10px;
  margin-top: 25px;
}
  
.social_media img {
  width: 24px;

}
    
.sitemap_title {
  font-size: 18px;
  font-weight: 600;
  margin: 0px 0px 28px 0px;
}
    
.sitemap_list li {
  margin-bottom: 12px;
}
  
.sitemap_list a {
  color: #EFEFF2;
  font-size: 18px;
  font-weight: 400;
}

.info{
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
}
  
.footer-copyright {
  display: flex;
  padding-top: 100px;
  justify-content: center;
  margin-left: 65px;
}
  
.pp {
  color: #6D6D77;
  font-size: 18px;
  margin: 0px 28px 0px 0px;
  font-weight: 400;
  line-height: 28px;
}

.info_box3 {
  font-size: 18px;
  color: #6D6D77;
  font-weight: 400;
  line-height: 28px;
}

footer {
    background-color: #19191C; 
    color: #EFEFF2;
    padding: 68px 240px 0;  
}
  
.footer-content {
    display: flex;
    flex-direction: column;
}
    
.footer-main {
    display: flex;
    justify-content: space-between;
}
    
.logo_footer {
    display: flex;
    align-items: center;
    font-size: 18px;
    font-weight: 800;
    color: #EFEFF2;
    margin-bottom: 48px;
}
    
.logo_footer img {
    margin-right: 10px;
}
    
.support {
    display: block;
    color: #EFEFF2;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 28px;
}
    
.social_media a {
    display: inline-block;
    margin-right: 10px;
    margin-top: 25px;
}
    
.social_media img {
    width: 24px;
  
}
      
.sitemap_title {
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0px 28px 0px;
}
      
.sitemap_list li {
    margin-bottom: 12px;
}
    
.sitemap_list a {
    color: #EFEFF2;
    font-size: 18px;
    font-weight: 400;
}
  
.info{
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}
    
.footer-copyright {
    display: flex;
    padding-top: 100px;
    justify-content: center;
    margin-left: 65px;
}
    
.pp {
    color: #6D6D77;
    font-size: 18px;
    margin: 0px 28px 0px 0px;
    font-weight: 400;
    line-height: 28px;
}
  
.info_box3 {
    font-size: 18px;
    color: #6D6D77;
    font-weight: 400;
    line-height: 28px;
} 